<form #editScheduleForm="ngForm" *ngIf="scheduleLoaded" novalidate>
    <div class="alert alert-danger" [hidden]="editScheduleForm.form.valid">
        <ul *ngIf="creator.dirty && !creator.valid">
            <li>Creator name is required <i>(5-50 characters)</i></li>
        </ul>
        <ul *ngIf="title.dirty && !title.valid">
            <li *ngIf="title.errors.required">Title is required</li>
            <li *ngIf="title.errors.pattern">Title should have 5-20 characters</li>
        </ul>
        <ul *ngIf="description.dirty && !description.valid">
            <li *ngIf="description.errors.required">Description is required</li>
            <li *ngIf="description.errors.pattern">Description should have at least 10 characters</li>
        </ul>
        <ul *ngIf="location.dirty && !location.valid">
            <li *ngIf="location.errors.required">Location is required</li>
        </ul>
    </div>

    <button type="button" class="btn btn-danger" (click)="back()">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"</i>Back</button>
        <button type="button" [disabled]="!editScheduleForm.form.valid" class="btn btn-default" (click)="updateSchedule(editScheduleForm)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Update</button>
          
        <hr/>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label"><i class="fa fa-user" aria-hidden="true"></i>Creator</label>
                    <input type="text" class="form-control" [(ngModel)]="schedule.creator" name="creator" #creator="ngModel" required pattern=".{5,50}"
                        disabled />
                </div>

                <div class="col-md-4">
                    <label class="control-label"><i class="fa fa-text-width" aria-hidden="true"></i>Title</label>
                    <input type="text" class="form-control" [(ngModel)]="schedule.title" name="title" #title="ngModel" required pattern=".{5,20}"
                    />
                </div>

                <div class="col-md-4">
                    <label class="control-label"><i class="fa fa-paragraph" arial-hidden="true"></i>Description</label>
                    <input type="text" class="form-control" [(ngModel)]="schedule.description" name="description" #description="ngModel" required
                    pattern=".{10,}" />
                </div>
            </div>
        </div>

        <div class="form-group">
            




